/*公共部分*/
input, textarea {
    outline: 0;
    border: none;
    background-color: transparent;
}

/*body样式*/
html, body {
    height: 100%;
    overflow: hidden;
}

blockquote {
    margin: 10px 20px;
    padding: 8px 10px;
    border-left: 8px solid;
    font-style: italic;
    background-color: #e4e4e4;
    overflow: auto;
}

blockquote p {
    margin: 0;
}

.body {
    height: 100%;
    background: #f1f1f1 url('../images/body_background.jpg') repeat scroll top left;
    font-family: "Microsoft Yahei", "宋体", "Arial Narrow", HELVETICA, serif;
    font-size: 87.5%;
    overflow: auto;
}

#container {
    position: relative;
    overflow: auto;
}

#background_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*wrap样式*/
#wrap {
    position: relative;
    width: 1100px;
    margin: 30px auto;
    box-shadow: 0 0 10px #afafaf;
    z-index: 9;
}

/*header基本样式*/
#header {
    border: 0px;
}

.nav_menu a {
    height: auto;
    color: #FFF;
    font-size: 14px;
    padding: 0 15px;
    display: block;
}

#header a {
    text-decoration: none;
}

/*头部图片背景*/
#header_image {
    position: relative;
    height: 150px;
    max-width: 1100px;
    overflow: auto;
}

#header_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

#header_logo {
    position: relative;
    color: #fff;
    margin: 40px 0 0 20px;
    text-shadow: 1px 1px 4px black;
    z-index: 10000;
}

#header_logo .site_name {
    display: block;
    font-size: 30px;
}

#header_logo .site_name a {
    color: #fff;
}

#header_logo .sub_title {
    font-size: 16px;
    line-height: 36px;
}

/*头部导航栏*/
#header_nav {
    height: 43px;
    background-color: #4c4c4c;
    border-bottom: 6px solid #169fe6;
}

/*头部导航菜单*/
#header_nav .nav_menu {
    margin: 0;
    padding: 0px;
    overflow: hidden;
    float: left;
}

#header_nav .nav_menu li {
    width: 58px;
    height: 43px;
    line-height: 43px;
    float: left;
    list-style: none;
    text-align: center;
}

#header_nav .nav_menu li:hover {
    background-color: #707070;
}

#header_nav .nav_menu li.cur {
    background-color: #169fe6;
}

#nav_menu_checkbox {
    display: none;
}

#nav_menu_label {
    display: none;
    color: #fff;
    font-size: 24px;
    line-height: 43px;
    padding: 0 10px;
}

#nav_menu_checkbox:checked + #nav_menu_label + .nav_menu {
    color: #666;
    max-height: 200px;
}

/*搜索栏样式*/
#search {
    position: relative;
    float: right;
    margin-top: 7px;
    margin-right: 16px;
}

/*搜索框*/
#search input {
    height: 30px;
    padding: 0 30px 0 10px;
    background-color: #fff;
}

/*搜索按钮*/
#search button {
    cursor: pointer;
    background: 0;
    outline: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    border: 0;
    padding: 0;
    margin: 3px;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

#search button i {
    text-align: center;
    color: #4c4c4c;
    font-size: 18px;
    line-height: 24px;
    width: 24px;
}

#search button i:hover {
    color: #169fe6;
}

/*中部body样式*/
#body a {
    text-decoration: none;
}

#body .container {
    overflow: hidden;
    background: #fdfdfd;
    padding: 20px 16px 50px;
}

#body .left {
    width: 778px;
    float: left;
}

#body .archive_title {
    color: #999;
    font-size: 14px;
}

/*文章列表*/
#body .post {
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
}

/*标题部分样式*/
#body .post_header {
    margin-top: -1px;
    margin-left: -1px;
    border-left: 5px solid #169fe6;
    background-color: #fafafa;
    position: relative;
}

#body .post_header:hover {
    background-color: #f7f7f7;
}

#body .post_title {
    border: 1px solid #e3e3e3;
    border-left: 0;
    border-right: 0;
    font-weight: normal;
    font-size: 16px;
    padding: 8px 11px 9px;
}

#body .post_title a {
    color: #4c4c4c;
}

/*标题左侧标签*/
#body .post_category {
    display: inline-block;
    float: left;
    background-color: #4c4c4c;
    margin-right: 15px;
    font-size: 12px;
    padding: 3px 7px;
}

#body .post_category a, #body .post_category i {
    color: #fff;
}

#body .post_header:hover .post_category {
    background-color: #169fe6;
}

#body .post_header:hover .post_category + a {
    color: #888;
}

/*中间标签列表*/
#body .post_meta {
    margin: 0;
    padding: 10px 15px;
    color: #999;
    font-size: 12px;
}

#body .post_meta a {
    color: #999;
}

#body .post_meta li {
    display: inline-block;
    margin-right: 12px;
}

/*内容样式*/
#body .post_content {
    padding: 15px;
    font-size: 14px;
    color: #555;
    line-height: 1.5;
    word-wrap: break-word;
    overflow: auto;
}

#body .more {
    margin: 0;
    padding: 0;
    text-align: center;
}

#body .more a {
    display: inline-block;
    padding: 5px 18px;
    border: 1px solid #999;
    border-radius: 20px;
    color: #999;
}

#body .more a:hover {
    border: 1px solid #169fe6;
    background-color: #169fe6;
    color: #fff;
}

/*分页器列表*/
#body .page_navigator {
    margin-top: 20px;
    padding: 15px 0 10px;
    text-align: center;
}

#body .page_navigator li {
    background-color: #4c4c4c;
    display: inline-block;
    margin-right: 7px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #fff;
}

#body .page_navigator li.cur,
#body .page_navigator li:hover {
    background-color: #169fe6;
}

#body .page_navigator a {
    color: #FFF;
    padding: 6px 13px;
}

/*右侧边栏*/
#body .right {
    float: right;
    width: 280px;
}

#body .widget {
    margin-bottom: 15px;
}

#body .widget_title {
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: normal;
    border-left: 5px solid #169fe6;
    color: #FFF;
    background-color: #4c4c4c;
}

#body .widget_content {
    font-size: 12px;
}

#body .widget_content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#body .widget_content li a {
    display: block;
    background-color: #fafafa;
    border: 1px solid #e3e3e3;
    border-top: 0;
    padding: 10px;
    color: #4c4c4c;
}

#body .widget_content li a:hover {
    color: #169fe6;
}

#body .widget_content .comment_author {
    color: #169fe6;
    margin-right: 4px;
}

/*标签列表*/
#tags_widget .widget_list {
    display: -webkit-box;
    -webkit-box-pack: justify;
    -webkit-box-lines: multiple;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border-left: 1px solid #e3e3e3;
}

#tags_widget .widget_list li {
    -webkit-box-flex: 1.0;
    flex-grow: 1.0;
    text-align: center;
}

#tags_widget .widget_list li a {
    border-left: none;
    border-top: none;
}

#tags_widget .white_space {
    height: 0;
    width: 25%;
}

/*页脚样式*/
#footer {
    background: #3C3C3C;
}

#footer .copyright {
    padding: 12px;
    border-top: 4px solid #169fe6;
    text-align: center;
    color: #fff;
}

#footer .copyright a {
    color: #dfc1ff;
}

/*博客时间轴列表*/
/*author: 断崖上的风*/
/*time: 2016-07-25*/

/*左侧时间轴*/
#time_line {
    width: 80px;
    float: left;
    text-align: right;

    -webkit-transform: translateZ(0);
}

#time_line ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#time_line > ul > li {
    margin-bottom: 10px;
}

#time_line li > div {
    background: #4c4c4c;
    border-left: 4px solid #169fe6;
    padding: 0 8px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

#time_line li > div i {
    font-size: 18px;
    color: #fff;
    margin-left: 4px;
    transition: transform 600ms ease-in-out;
}

#time_line .year_cur > div > i {
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#time_line .year_cur > ul {
    max-height: 275px;
}

#time_line li > ul {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 600ms ease-in-out;
}

#time_line li > ul li {
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-right: 0;
    font-size: 12px;
    padding-right: 8px;
    line-height: 1.8;
    cursor: pointer;
}

.mouth_cur {
    background: #ececec;
    color: #117fb7;
    font-weight: bold;
}

/*右侧博文列表*/
#post_list {
    overflow: hidden;
    line-height: 1.8;
    padding: 4px 20px;
    border: 1px solid #e3e3e3;
    margin-left: 80px;
}

#post_list li {
    overflow: auto;
}

#post_list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

#post_list div {
    float: left;
    color: #555;
    font-size: 16px;
    font-weight: bold;
}

#post_list li > a {
    display: inline-block;
    margin: 0 10px;
    color: #4c4c4c;
    font-size: 14px;
    transition: transform 300ms linear;
}

#post_list li > a:hover {
    color: #888;
    transform: translateX(4px);
}

#show_time {
    position: fixed;
    height: 30px;
    line-height: 40px;
    top: 0;
    background-color: rgb(253, 253, 253);

    -webkit-transform: translateZ(0);
}

/*博文详情页样式*/
#body .post_single {
    position: relative;
    border: 1px solid #e3e3e3;
}

.post_single .breadcrumb {
    font-size: 12px;
    padding: 10px 15px;
    background-color: #FFF;
}

.breadcrumb, .breadcrumb a {
    color: #777;
}

#body .post_single .post_title {
    padding: 0;
    text-align: center;
    border: 0;
    border-top: 1px solid #e3e3e3;
    background-color: #f6f6f6;
}

.post_single .post_title > h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
    color: #444;
}

#body .post_single .post_meta {
    padding-top: 0;
    text-align: center;
}

.post_single .post_content {
    border-top: 1px solid #e3e3e3;
}

.post_single .post_content img {
    max-width: 100% !important;
    height: auto !important;
}

.post_single .post_near {
    padding: 0 15px;
    background-color: #fafafa;
    border-top: 1px solid #e3e3e3;
    height: 40px;
    line-height: 40px;
    color: #4c4c4c;
}

.post_single .post_tool {
    position: absolute;
    top: 40px;
    right: 6px;
    font-size: 16px;
}

.post_single .post_tool a {
    display: inline-block;
    padding: 4px;
    color: #8e8e8e;
}

.post_near > div > a {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post_near .prev {
    float: left;
    text-align: left;
}

.post_near .prev span {
    float: left;
    color: #BBB;
    margin-right: 4px;
}

.post_near .next {
    float: right;
    text-align: right;
}

.post_near .next span {
    float: right;
    color: #BBB;
    margin-left: 4px;
}

/*博文评论框样式*/
#comments {
    margin-top: 15px;
    border: 1px solid #e4e4e4;
    padding: 20px;
    background: #f9f9f9;
}

#comments .comment_sign {
    color: #BBB;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}

#comments .comment_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#comments .comment_body {
    color: #555;
    padding: 14px;
    margin-top: 10px;
    border: 1px solid #e4e4e4;
}

#comments .comment_odd {
    background-color: #fbfbfb;
}

#comments .comment_even {
    background-color: #f9f9f9;
}

#comments .comment_by_others {
    background-color: #fff9e8;
}

#comments .comment_author .name {
    display: inline;
    color: #169fe6;
    font-weight: bold;
    font-style: normal;
}

#comments .avatar {
    float: left;
    margin-right: 10px;
}

#comments .comment_meta .time {
    color: #999;
    font-size: .92857em;
}

#comments .comment_reply {
    text-align: right;
    font-size: .92857em;
}

#comments .comment_reply a {
    color: #999;
}

#comment_form .comment_textarea {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e4e4e4;
}

#comment_form .comment_textarea .textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
}

#comment_form .comment_input {
    overflow: hidden;
}

#comment_form .comment_input .cfq {
    position: relative;
    float: left;
    width: 30%;
    height: 32px;
    line-height: 32px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    border-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#comment_form .comment_input .cfq .icon {
    position: absolute;
    margin-left: 10px;
    text-align: center;
    width: 20px;
    line-height: 34px;
    font-size: 16px;
    color: #169fe6;
}

#comment_form .comment_input .text {
    width: 100%;
    padding-left: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#comment_form .comment_input .cfq_button {
    float: right;
    width: 10%;
}

#comment_form .comment_input .cfq_button button {
    cursor: pointer;
    height: 32px;
    line-height: 30px;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #72c9e4;
    color: #FFF;
}

#comments .comment_list #respond_post {
    margin-top: 15px;
    border-top: 1px solid #EEE;
}

#respond_post .cancel_comment_reply {
    float: right;
    margin-top: 2px;
    font-size: 12px;
}

#cancel_comment_reply_link {
    color: #999;
}

#comment_form_tips {
    line-height: 32px;
    color: red;
    font-weight: bold;
    padding: 0 10px;
    overflow: hidden;
    max-height: 0;
}

/*快速返回顶部*/
#go_to_top {
    position: fixed;
    bottom: 60px;
    right: 80px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 10%;
    font-size: 26px;
    color: #999;
    text-align: center;
    background: #e4e4e4;
    z-index: 99999;

    -webkit-transform: translate3d(300%, 0, 0) rotate(360deg);
    -moz-transform: translate3d(300%, 0, 0) rotate(360deg);
    -ms-transform: translate3d(300%, 0, 0) rotate(360deg);
    -o-transform: translate3d(300%, 0, 0) rotate(360deg);
    transform: translate3d(300%, 0, 0) rotate(360deg);

    -webkit-transition: transform 600ms;
    -moz-transition: transform 600ms;
    -ms-transition: transform 600ms;
    -o-transition: transform 600ms;
    transition: transform 600ms;
}

#go_to_top.show {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -moz-transform: translate3d(0, 0, 0) rotate(0deg);
    -ms-transform: translate3d(0, 0, 0) rotate(0deg);
    -o-transform: translate3d(0, 0, 0) rotate(0deg);
    transform: translate3d(0, 0, 0) rotate(0deg);
}

#go_to_top:hover {
    color: #666;
    background: #d3d3d3;
}

#go_to_top:before {
    content: "\f062";
}

@media (max-width: 800px) {
    #wrap {
        width: 100%;
        margin: 0;
    }

    #body .left {
        width: 100%;
    }

    #body .right {
        display: none;
    }

    .post_single .post_near {
        display: none;
    }
}

@media (max-width: 480px) {
    #wrap {
        padding-top: 49px;
    }

    #header_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
    }

    #header_nav .nav_menu {
        position: absolute;
        width: 100%;
        max-height: 0;
        -webkit-transition: max-height 400ms;
        -moz-transition: max-height 400ms;
        -ms-transition: max-height 400ms;
        -o-transition: max-height 400ms;
        transition: max-height 400ms;
        background-color: #404040;
        z-index: 999;
    }

    #header_nav .nav_menu li {
        width: 100%;
    }

    #nav_menu_label {
        display: inline-block;
    }

    #time_line {
        display: none;
    }

    #post_list {
        margin: 0;
    }

    .page_navigator .paginator a span {
        display: none;
    }
}

