{#文章归档模块#}

<section id="tags_widget" class="widget">
    <h3 class="widget_title">文章标签</h3>
    <div class="widget_content">
        <ul class="widget_list">
            {% for tag in tag_model %}
                {% ifnotequal tag.count 0 %}
                    <li>
                        <a href="/search/tag/{{ tag.id }}" class="rotate_x">
                            <ul>
                                <li>{{ tag.tag }}({{ tag.count }})</li>
                                <li>{{ tag.tag }}</li>
                            </ul>
                        </a>
                    </li>
                {% endifnotequal %}
            {% endfor %}
            <li class="white_space"></li>
            <li class="white_space"></li>
            <li class="white_space"></li>
            <li class="white_space"></li>
            <li class="white_space"></li>
        </ul>
    </div>
</section>
